th,
td {
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.head {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    margin-top: 10px;
    .head-left {
        position: absolute;
        left: 35%;
    }

    .head-right {
        position: absolute;
        right: 35%;
    }
}

.body {
    position: relative;
    display: flex;
    justify-content: center;

    .history {
        position: absolute;
        right: 23%;
    }
}

.content {
    display: flex;
    justify-content: center;

    table {
        border-collapse: collapse;
        table-layout: fixed;
    }
}